
URxvt*scrollBar: false

!URxvt*background: [70]#000000
!URxvt*depth: 32
!URxvt*transparent: true
!URxvt*shading: 30
!URxvt*font: xft:DejaVu Sans Mono Nerd Font:pixelsize=13, xft: Noto Color Emoji, xft: FontAwesome, xft:symbola:pixelsize=13:minispace=False
URxvt*font:xft:DejaVu Sans Mono Nerd Font:pixelsize=14:minispace=False, xft:symbola:pixelsize=14:minispace=False, xft: Noto Color Emoji:minispace=False,  xft: FontAwesome:minispace=False,  xft: DejaVu Sans Mono for Powerline:pixelsize=14:minispace=False
URxvt*letterSpace: 0.5

URxvt*internalBorder: 15

URxvt*iso14755: false
URxvt*iso14755_52: false

URxvt*perl-ext-common: default,keyboard-select,resize-font

URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true
